*,
*::before,
*::after{

box-sizing:border-box;

margin:0;

padding:0;

}

html{

scroll-behavior:smooth;

}

body{

background:var(--color-background);

font-family:var(--font-body);

color:var(--color-text);

overflow-x:hidden;

-webkit-font-smoothing:antialiased;

}

img{

display:block;

max-width:100%;

height:auto;

}

button{

font:inherit;

cursor:pointer;

}

a{

text-decoration:none;

color:inherit;

}

ul{

list-style:none;

}